{% load i18n %}
<details data-filter-title="{{ title }}" open>
  <summary>
    {% blocktranslate with filter_title=title %} By {{ filter_title }} {% endblocktranslate %}
  </summary>
  <p>
    <a class='addlink' href="{% url 'admin:searchkit_search_add' %}?searchkit_model={{ spec.searchkit_model.pk }}">{% trans "Add search" %}</a>
  </p>
  <ul>
  {% for choice in choices %}
    <li{% if choice.selected %} class="selected"{% endif %}>
    <a href="{{ choice.query_string|iriencode }}" {% if choice.details %}title="{{ choice.details }}"{% endif %}>{{ choice.display }}</a></li>
  {% endfor %}
  </ul>
</details>