{% load searchkit static %}
{% comment %} Save some data attributes for the javascript code.{% endcomment %}
<div id="searchkit_formset" data-url="{{ sk_reload_url }}" data-reload-css-class="{{ sk_reload_css_class }}">
    {{ formset.management_form }}
    {% if formset.model and formset.forms %}
        {% for form in formset %}
            {% block searchkit_form %}
                {% with index_str=forloop.counter|slugify index=forloop.counter index0=forloop.counter0 %}
                    {% as_fieldset form.logic_form "Logic for filter rule "|add:index_str id_prefix=index0 id_suffix=index0 %}
                    {% as_fieldset form "Filter rule "|add:index_str id_prefix=index0 id_suffix=index %}
                {% endwith %}
            {% endblock %}
        {% endfor %}
        {% block searchkit_form_buttons %}
            {% include "searchkit/searchkit_buttons.html" %}
        {% endblock %}
    {% endif %}
</div>
